main h2
{
    padding-top: 10px;
    text-align: center;
}


main p
{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}


main .outer
{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 0px;
    grid-row-gap: 50px;
}


main .inner
{
    width: 100%;
    text-align: center;
}

main .inner img
{
    width: 200px;
    height: 200px;
    display: inline-block;
}

main .inner :nth-child(n+3)
{
    margin-top: 3px;
}

main .inner .name
{
    font-weight: bold;
    font-size: 1.1rem;
}