header
{
    position: fixed;
    top: 0px;
    height: 80px;
    width: inherit;
    background-color: black;
}

header h1
{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

header a
{
    text-decoration: none;
}

header img
{
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
}